@-ms-viewport{
  width: device-width;
}

.sectionArticle{
  margin-bottom: 5%;
}

.article1-img {
  width: 80%;
}

.article1 {
  margin-top: 7%;
  margin-left: -10px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify !important;
}

.article1 h2 {
  font-weight: 600;
  color : #0c3f63

}

.article1-text {
  padding-top: 2%
}

.article2 {
  margin-top: 7%;
  margin-left: -10px;
  font-family: 'Montserrat', sans-serif;
  text-align: justify !important;
}

.article2 h2 {
  font-weight: 600;
  color : #0c3f63

}

.article2-text {
  padding-top: 2%
}

.article2-img {
  width: 80%;
  margin-left: 20%;
}
.Mob{
  display: none;
}
.article1-imgMob{
  display: none;
}


@media screen and (max-width : 768px) {
  .article1-img {
    margin-top: 45%;
  }

  .article2-img {
    margin-top: 45%;
  }

  .article1-text {
    font-size: 16px;
  }

  .article2-text {
    font-size: 16px;
  }
}


@media screen and (max-width : 550px) {
  .article1-imgMob{
    margin-left: 12%;
    display: block;
    width: 80%;
  }

  .article1-img {
    display: none;
  }

  .article2-img{
    display: none;
  }

  .Mob{
    display: block;
  }

  .article2-imgMob{
    width: 80%;
    margin-left: 12%;
  }

  .article2-text {
    margin-bottom: 10%;
  }
}
