@-ms-viewport{
  width: device-width;
}

.questionSection1 {
  margin-top: 12%;
  margin-left: 5%;
}

.questionsection2 {
  margin-top: 3%;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  font-family: 'Montserrat', sans-serif;
}


.style-boutton button {
  background-color: rgba(12, 63, 99, 1);
  width: 105%;
  border : 1px solid rgba(12, 63, 99, 0.75);
  padding : 3%;
  color : white;
  outline:none;
}

.question-text{
  font-family: 'Montserrat', sans-serif;
  width: 95%;
}

.buttonTrue{
  border-radius: 25px;
}

.buttonFalse {
  background-color: rgba(12, 63, 99, 0.75) !important;
}

/*----------Animation croix -------*/

.closed {
  .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
  }
  .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(-90deg);
    opacity: 1;
  }

  .arrow {
    transform: rotate(0deg);
    transition-duration: 0.3s;
  }
}

.opened {
  opacity: 1;
  .vertical {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
  }
  .horizontal {
    transition: all 0.5s ease-in-out;
    transform: rotate(90deg);
    opacity: 0;
  }

  .arrow {
    transform: rotate(180deg);
    transition-duration: 0.3s;
  }
}

.horizontal {
    float: right;
    background-color: white;
    width: 28px;
    height: 2px;

    margin-top: -3.5%;
}
.vertical {
    float: right;
    background-color: white;
    width: 2px;
    height: 30px;

    margin-top: -5.5%;
    margin-right: 1.6%;
}

/*---------Fin animation -------*/

.buttonFalse{
  border-radius: 25px 25px 0 0;
}

.style-boutton button:target {
  border-radius: 25px 25px 0 0;
}

.text-Active {
  border : 1px solid rgba(12, 63, 99, 0.75);
  width: 105%;
  border-radius: 0px 0px 25px 25px;
  font-family: 'Montserrat', sans-serif;

}

.collapsing{
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
  opacity: 0;
}

.collapse.show {
  margin-top: 2%;
  margin-left: 3%;
  margin-bottom: 2%;
  opacity: 1;
}

.titre-question {
  color : #0c3f63;
  text-align: center;
  padding-bottom: 3%;
  font-size: 35px;
  font-weight: 600;
  font-family: 'Montserrat', sans-serif;
}

.arrow {
  display: none;
}

@media screen and (max-width: 1190px){
  .horizontal {
    display: none;
  }

  .vertical {
    display : none;
  }

  .arrow {
    display: block;
    width: 4%;
    margin : 0 auto;
  }

  .question-text{
    width: 100%;
    margin-bottom: 1.5%;
  }
}

@media screen and (max-width: 1024px) {

  .text-Active{
    font-size: 16px;
  }

  .question-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  .horizontal {
    display: none;
  }

  .vertical {
    display : none;
  }

  .arrow {
    display: block;
  }
}


@media screen and (max-width: 550px) {
  
  .titre-question{
    margin-top: 7%;
  }

  .text-Active{
    font-size: 16px;
  }

  .question-text{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
  }

  .horizontal {
    display: none;
  }

  .vertical {
    display : none;
  }
}
