@-ms-viewport{
  width: device-width;
}

@media screen and (max-width: 550px) {
  .amenu{
    display: none !important;
    overflow: hidden;

  }


.premierLi{
  margin-top: 50%;
}

.row-nav{
  margin-top: 7%;
}

.mainLogo{
  width: 100% !important;
}

}


.mobile{
   color: white !important;
  font-size: 26px !important;
  padding-bottom: 5%;
  padding-left: 20%;

}

  .mobile2{
     color: white !important;
     background-color: #0c3f63;
     position: absolute;
     width: 100%;
     margin-top: -28% !important;
     margin-left: 30%;
     height : 800px;
     z-index: 10;
     display: inline !important;
  }



.amenu{
 display: flex;
 margin-top: 7%;

}

.amenu li{
 list-style: none;
}

.Menu a {
    color: #0c3f63;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px
}

.Menu a:hover {
    color: #dbb457;
}


.mainLogo {
  padding-top: 3%;
  width : 90%;
}


/*-----------menu---------------------*/

$bg-1: #0c3f63;
$time-in: .3s;
$time-out: .3s;

*, *::before, *::after{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.box{
  display: flex;
  float: right;
  justify-content: center;
  align-items: center;
  outline:none;
  z-index: 15;
}

.hamburger{
  cursor: pointer;
  border: solid 2.5px whitesmoke;
  border-radius: 5px;
  outline: none;
  background: none;
  transition: $time-out;
  background-color: #0c3f63;
  z-index: 3;
}

.hamburger__line{
  display: block;
  width: 45px;
  height: 5px;
  margin: 10px;
  border-radius: 50px;
  background: whitesmoke;
  transition: $time-out;
  z-index: 3;
}

.cross{
  .hamburger__line:first-child{
    transform: translateY(15px) rotate(-40deg) scale(1.2);
    transition: $time-in;
    z-index: 3;
  }

  .hamburger__line:nth-child(2){
    transform: translateX(55px);
    opacity: 0;
    transition: $time-in;
    z-index: 3;
  }

  .hamburger__line:last-child{
    transform: translateY(-15px) rotate(40deg) scale(1.2);
    transition: $time-in;
    z-index: 3;
  }
}

@media screen and (min-width: 551px)
{
  .box{
    display : none;
  }
}

@media screen and (max-width: 550px)
{
  .box{
    margin-left: 85%;
    margin-top: -19%;
  }
}
