@-ms-viewport{
  width: device-width;
}

p {
    text-align: center;
    font-weight: 500;
}
input[type=text],input[type=email], select, textarea {
    width: 100%;
    padding: 15px;
    box-sizing: border-box;
    resize: vertical;
}
input[type=submit] {
    background-color: #0c3f63;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 0px 0px 25px 25px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #dbb457;
}

.ligne1 {
  white-space:nowrap;
  width: 80%;

}

#fname {
  width: 50%;
  border-radius: 25px 0px 0px 0px;
  border : solid #0c3f63;
  border-width: 1px 1px 1px 1px;
}

#lname {
  width: 50%;
  border-radius: 0px 25px 0px 0px;
  border : solid #0c3f63;
  border-width: 1px 1px 1px 0;
}

.ligne2 {
    width: 80%;
  white-space:nowrap;
}

#email {
  width: 50%;
  border : solid #0c3f63;
  border-width: 0 1px 1px 1px;
}

#tel {
  width: 50%;
  border : solid #0c3f63;
  border-width: 0 1px 1px 0;
}

#message {
  width:80%;
  padding: 7%;
  border : solid #0c3f63;
  border-width: 0 1px 1px 1px;
}

#submit{
  width:80%;
  margin-top: -2%;
}

@media screen and (max-width: 500px) {
  .ligne1 {
      width: 98%;
  }

  .ligne2 {
      width: 98%;
  }

  #message {
    width:98%;
  }

  #submit{
    width:98%;
  }

  .formul {
    margin-left: -5%;
  }
}
