@-ms-viewport{
  width: device-width;
}

.footer {
  background-color: #0c3f63;
  margin-top: 4%;
}

.logoBlanc{
  margin-top: 20%;
  margin-bottom: 20%;
}

.emailParentaline {
  margin-top: 30%;
  color: white;
  font-family: 'Montserrat', sans-serif;
  font-weight: 550;
  font-size: 20px;
  margin-left: 10%;
}

.reseaux img {
  width: 10%;
  margin-top: 3%;
  margin-left: 17%;
}

.twitter{
  margin-left : 10%;
}

.linkedin{
    margin-left : 10%;
}

.copyright {
  color: white;
  padding-left: 8%;
}

a:link {
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .emailParentaline {
 margin-left: -18%;
  }

  .reseaux{
    margin-left: 0;
  }

  .reseaux img{
    width: 18%;
    margin-left: 12%;
  }
}

@media screen and (max-width: 550px) {

  .logoBlanc{
    margin-top: 5%;
    margin-bottom: 0;
    width : 80%;
    margin-left: 47%;
  }

  .emailParentaline {
    margin-top: 6%;
    margin-left: 22%;
  }

  .reseaux{
    width: 100%;
    margin-left: 30%;
  }

  .reseaux img{
    width: 15%;
    margin-left: 0;

  }

  .twitter{
    margin-left : 15% !important;
  }

  .linkedin{
      margin-left : 15% !important;
  }

  .copyright {
    margin-top: 10%;
    font-size: 12px;
    padding-left: 35%;
  }
}

@media screen and (max-width: 375px) {
    .emailParentaline {
      margin-left: 17%;
    }
}

@media screen and (max-width: 320px) {
    .emailParentaline {
      font-size: 18px;
      margin-left: 12%;
    }
    .copyright {
      padding-left: 27%;
    }
}
